@{
    ViewData["Title"] = "Privacy Policy";
    Layout = null;
}


<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<br />

@if(ViewBag.SessionValue == null) {
    <p>LOL</p>
} else
{
    <p>@ViewBag.SessionValue</p>    
}
